
h1
{
	color:red;
	font-size:1cm;
}

table{
	color:red;
}
body{
	background-image:url('test.jpg');	
	background-size:cover;
}
.hell_yeah
{
	background-color:black;
    list-style-type: none;
    margin: 15px;
    padding: 10px;
    overflow: visible;
    font-family:bold;
    font-size:20px;
    text-decoration:blink;
    border: 1px solid green;
    background-color: black;
    color:white;
}
div{

	padding:10px;
}
p{
	color:red;
	text-align:right;
}

.registration{
	background-color:white;
	color:red;
	border-style:solid;
	border-color:green;
	margin-top:35px;
	color:red;
	width:500px;
	font-style:bold;
	font-family:bold;
	font-size:14px;
}

.footer{
	text-align:center;	
	color:red;
	margin-bottom:10px;
	background-color:violet;
}
.footer > p{
	text-align:center;
	color:black;
}


.hello{
	color:red;
}
.comment{
	background-color:white;
	margin-bottom:100px;
	width:440px;
	border-style:solid;
	border-color:green;
	margin-top:70px; 
}
.error{
	font-size:1px;
}
.displayforum{
	background-color:white;
	margin-bottom:100px;
	width:900px;
	height:100%px;
	border-style:solid;
	border-color:green;
	margin-top:70px; 
}
.makeup > p{
	border-style:solid;
	border-color:pink;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px; 
	text-align:left;
}

.submission{
	color:red;
	font-style:bold; 
	background-color:white;
	border:2px;
	margin-top:5em;
	width:400px;
	border-style:solid;
	border-color:green;
}
