{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}
    Comment
{% endblock %}
{% block content %}
{% bootstrap_formset_errors formset %}
<form class = "comment" action = '' method = 'post' > 
{% csrf_token %}
	{{ formset.managment_form }}
    {% bootstrap_formset formset layout='horizontal' %}
	{% buttons submit='GiveFeedback' reset='reset' %}
	{% endbuttons %}
</form>
{% endblock %}

{% block footer %}
<a href = "{% url 'display_comment' %}">
<hr>
{% buttons submit='All Comments' %}
{% endbuttons %}
</a>  
<br /><br />
</p>
{% endblock %}