{% extends "base.html" %}

{% block title %}
All Comment List
{% endblock %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% block content %}

<div class="container">
<div class="panel panel-default">
 {% for i in message_list %}
 	{% for x in i %}
 		Commented by username @ date
 		<div class="panel-body">{{x}}</div>
 		<hr />
 	{% endfor %}
 {% endfor %}
</div>
<a href="{% url 'comment' %}">
	{% buttons submit='Add Comment' %}
	{% endbuttons %}
</a> 

</div>
<style type="text/css">
	.arrow-container{
		font-size:50px;
	}
</style>

<a class="arrow-container" href="{% url 'comment' %}">{% bootstrap_icon 'arrow-left' %}</a>
{% endblock %}
{% block footer %}
<hr>
<a href="/">Home</a>
{% endblock %}