{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block header %}

{% comment %}

  
  <script src="//js/Bootstrap/Select/bootstrap-select.js"></script>
{% endcomment %}  
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
 
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

  <script type="text/javascript" src="{% static 'js/student/student_script.js' %}"></script>
  
{% comment %}
   $('#dynamic_select').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });

       
{% endcomment %}

  <style type="text/css">
    
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="breadcrumb">  
      <center><h2 class="cool">
      <a class="s" href="{% url 'home' %}">{% bootstrap_icon 'home'  %}</a> Registered Users Male : {{men}} Female : {{women}} Total : {{name_count}}</h2></center>     
      <center>
      <form method="get">
      <input type="search" name="q" class="form-group">
      <button type="submit" class="btn btn-success">
        SEARCH
      </button>
      </form>

      <form  action="" method="get">
      {% csrf_token %}      
      
      <select class="selectpicker" name="q" id="dynamic_select" title="Select by District">        
        <option value="Coimbatore">
         Coimbatore
        </option> 
        <option>
          Chennai          
        </option> 
        <option>
          Erode          
        </option> 
        <option>
          Trichy          
        </option>  
        <option>
          karaikudi          
        </option>        
      </select>

      <select class="selectpicker" name="q" id="dynamic_select2" title="Select by Gender">        
        <option>
         Male
        </option> 
        <option>
          Female          
        </option>  
      </select>

          <p><a href="{% url 'registered_list' %}">Clear Filter</a></p>
      </form>

      </center>
      <table class="table table-compact table-bordered">
      <tr>
      <th>Name</th>
      <th>Father's Name</th>
      <th>Mother's Name</th>
      <th>Gender</th>
      <th>Faith Home</th>
      <th>Age</th>
      </tr>
      {% for i in objects %}
      <tr>
      <td><a href="{% url 'student-detail' i.id %}">{{ i.first_name }}</a></td>
      <td>{{ i.father_name }}</td>
      <td>{{ i.mother_name }}</td>
      {% ifequal i.gender 'Male' %}
      <td><a href="{% url 'student_male'  %}">{{ i.gender }}</a></td>
      {% else %}
        <td><a href="{% url 'student_female'  %}">{{ i.gender }}</a></td>
      {% endifequal %}    
      <td>{{ i.faith_home }}</td>
      <td>{{ i.date_of_birth }}</td>
      </tr>
      {% endfor %}
      </table>      
     <center>{% bootstrap_pagination page %}</center> 
    </div>
    </div>
    </div>
</div>    
{% endblock %}
{% block footer %}
<center>
<a class="btn btn-info" id="btn" href="{% url 'registration' %}">
Register Again
</a>
</center>
{% endblock %}