{% load static %}
{% load bootstrap3 %}
{% load thumbnail %}
{% block header %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/student/student_style.css'%}">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>

{% endblock %}





{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_form_errors form %}

<div class="container">
	<a class="s" href="{% url 'home' %}">{% bootstrap_icon 'home'  %}</a>	
<form class="form-horizontal" enctype="multipart/form-data" action = '' method = 'post'>
{% csrf_token %}
	{{ form.managment_form }}
	{{ form.media }}
	{% bootstrap_form form layout='inline' %}
	{% buttons submit='Register' reset='reset' 'btn btn-alert' %}
	{% endbuttons %}
</form>
</div>
{% endblock %}

{% block footer %}
<div class="footer">
<a href=" {% url 'registered_list' %}">
{% buttons submit='RegisteredUsers' %}
{% endbuttons %}
</a>
<p > <strong>* All Fields are Required</strong> </p>
<p ><strong> * The Above Details Should Be Furnished and True to Your knowledge	</strong></p>
</div>
{% endblock %}