{% extends "base.html" %}
{% block title %}
	Camping Registration
{% endblock %}
{% block content %}

<form class="registration" action = '' method = 'post'>
{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<input type="submit" value="SUBMIT"/>
	<input type="reset" value="RESET"/>	
</form>
{% endblock %}

{% block footer %}
<div class="footer">
<a href="/registereduser">RegisterdUsers</a>
<hr style="color:black; border:2px solid white;">
<p > <strong>* All Fields are Required</strong> </p>
<p ><strong> * The Above Details Should Be Furnished and True to Your knowledge	</strong></p>
</div>
{% endblock %}