
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block header %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
  <style type="text/css">
    .cool{
      word-spacing:10px;
    }
    .form-group{
      width:300px;
      word-wrap:all;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="breadcrumb">  
      <center><h2 class="cool">
      <a class="s" href="{% url 'home' %}">{% bootstrap_icon 'home'  %}</a> Registered Users Male : {{men}} Female : {{women}} Total : {{name_count}}</h2></center>     
      <center>
      <form method="get">
      <input type="search" name="q" class="form-group">
      <button type="submit" class="btn btn-success">
        SEARCH
      </button>
      </form>
      </center>
      <table class="table table-compact table-bordered">
      <tr>
      <th>Name</th>
      <th>Father's Name</th>
      <th>Mother's Name</th>
      <th>Gender</th>
      <th>Faith Home</th>
      <th>Age</th>
      </tr>
      {% for i in objects %}
      <tr>
      <td><a href="{% url 'student-detail' i.id %}">{{ i.first_name }}</a></td>
      <td>{{ i.father_name }}</td>
      <td>{{ i.mother_name }}</td>
      <td>{{ i.gender }}</td>
      <td>{{ i.faith_home }}</td>
      <td>{{ i.date_of_birth }}</td>
      </tr>
      {% endfor %}
      </table>      
     <center>{% bootstrap_pagination page %}</center> 
    </div>
    </div>
    </div>
</div>    
{% endblock %}
{% block footer %}
<a href="{% url 'registration' %}">
<center>{% buttons submit='Register Again'%}
{% endbuttons %}</center>
</a>
{% endblock %}