{% extends "base.html"%}
{% load bootstrap3 %}
{% block title %}
Article
{% endblock %}
{% block content %}
{% bootstrap_formset_errors formset %}
<form class="" action="" method = 'post'>
{% csrf_token %}
    {{ formset.management_form }}
    {% bootstrap_formset formset layout='inline' %} 
    {% buttons submit='Create' reset="reset" button_size='lg' %}
    {% endbuttons %}	
</form>
{% endblock %}
{% block footer %}
<hr />
<a href="{% url 'article-detail' %}">Display Article</a>
{% endblock %}
