{% include "base.html" %}
{% load bootstrap3 %}

{% block header %}
 	<style type="text/css">
 		.form-horizontal{
 			width:500px;
 		}
 	</style>
{% endblock %} 
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block content %}

{% bootstrap_form_errors form %}
<form class="form-horizontal" action="" method = 'post'>
{% csrf_token %}
    {{ form.management_form }}
    {{ form.media }}
    {% bootstrap_form form layout='inline' %} 
    {% buttons submit='Create' reset="reset" button_size='lg' %}
    {% endbuttons %}	
</form>
{% endblock %}
