
{% load bootstrap3 %}
{% block title %}
{% endblock %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}	
	<br /><br />
	<div class="container">
    <div class="panel panel-default">
	
	<table class="table table-compact table-bordered">
    <tr>
        <th>Article Name</th>

        <th>Author Name</th>                   
       
        <th>Publication Date</th>
    </tr>

    {% for i in article %}
    <tr> 
         
        <td><a href="{% url 'article_detail' i.id %}">{{ i.article_name }}</a></td>

        <td><a href="">{{ i.author_name }}</a></td>     
    
        <td>{{ i.publ_date }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
   <center>{% bootstrap_pagination page %}</center> 
{% endblock %}
{% block footer %}
<style type="text/css">
	.arrow-container{
		font-size:50px;

	}
</style>
<center>
<a class="arrow-container" href="{% url 'article' %}">
{% bootstrap_icon 'arrow-left' %}
</a>
</center>
{% endblock %}