
.container{
	padding: 100px;
}

#ys{
    color:red;
}
.panel-body{
    background-color:lightgrey;                
}
#content{
    word-spacing:5px;
    padding:10px;
}
	
.arrow-container{
		font-size:50px;

	}

	